*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon-filled {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}
:root{
    --primary-color : #1E1E1E;
    --secondary-color : #FD8D3A;
    --button-color : #FA7436;
    --para-color: #666666;
    --sec-background-color : #F7F8FC;
}

/* -------- header Css ----------*/

.header{
    padding: 20px 150px;
    background-color: #FEFCFB;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.header_list{
    display: flex;
}
.header_list li{
    list-style-type: none;
    margin-right: 30px;
}  
.header_list li a{
    text-decoration: none;
    color: var(--primary-color);
}
.logo img{
    height: 24px;
} 
.sign_in .login{
    margin-right: 20px;
    text-decoration: none;
    color: var(--secondary-color);
}
.sign_in .sign_up  , .button{
    text-decoration: none;
    color: #ffffff;
    border: 2px solid var(--secondary-color);
    padding: 5px 20px;
    background: var(--secondary-color);
    border-radius: 5px;
}
a:focus-visible{
    outline: 0 !important;
}

/* -------- Section 1 Css ----------*/
.sec_margin{
    padding: 50px 150px;
    background-color: #FEFCFB;
}
.section_1 h1{
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
}
.journey_clr{
    color: var(--secondary-color);
}
.section_1{
    display: flex;
}
.sec_1_img img{
    height: 514px;
}
.section_1 p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: var(--para-color);
    margin-top: 25px;
}
.btn{
    border: 2px solid var(--button-color);
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 25px;
    background-color: #ffffff;
}
.btn a{
    text-decoration: none;
    color: var(--button-color);
    line-height: 32px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}
.section_1_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 70px 100px 0 100px;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 2px #00000024;
     /* box-shadow: 0 2px 10px 2px #6666661f; */
    border-radius: 10px;
}
.section_1_card .inline_btn{
    font-family: "Poppins", sans-serif;
    background: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 7px;
    font-size: 16px;
} 
.arrow-clr{
    color: var(--button-color);
}   
.section_1_card p{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: var(--para-color);
    margin-top: 5px;
}
.button{
    font-size: 18px;
}

/* -------- Section 2 sec_thingsdo Css ----------*/
.sec_thingsdo{
    padding: 50px 150px;
    background-color: var(--sec-background-color);
    font-family: "Poppins", sans-serif;
}
.sec2_header h2 , .sec3_header h2{
    text-align: center;
    font-family: "Volkhov", serif;
    font-size: 48px;
}
.sec2_header p , .sec3_header p{
    font-size: 18px;
    text-align: center;
    color: var(--para-color);
    margin-top: 15px;
}
.sec2_header{
    display: flex;
    justify-content: center;
}
.sec2_header img{
    height: 130px;
    margin-left: 50px;
}
.sec2_cards img{
    height: 48px;
}
.sec2_cards h3{
    font-size: 24px;
    line-height: 34px;
    margin-top: 25px;
    font-weight: 600;
}
.sec2_cards p{
    font-size: 16px;
    line-height: 26px;
    color: var(--para-color);
    margin-top: 10px;
}
.sec2_cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.sec2_cards div{
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0 2px 10px 2px #00000024;
    border-radius: 8px;
}
.sec2_cards div:hover{
    transform: translateY(-3px);
}
.card-margin{
    margin-right: 30px;
}
/* -------- --------  Section 3 -------------------*/

.sec3_cards img{
    height: 290px;
}
.sec3_cards{
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: space-between;
    margin-top: 55px;
    flex-wrap: wrap;
}
.sec3_cards>div{
    background-color: #ffffff;
    box-shadow: 0 2px 10px 2px #00000024;
    border-radius: 8px;
}
.sec3_cards>div:hover{
    transform: translateY(-3px);
}
.card_flex h3{
    font-size: 24px;
    font-weight: 600;
}
.card_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.star_card{
    display: inline-flex;
    align-items: center;
}
.start_clr{
    color: var(--secondary-color);
    margin-right: 5px;
}
.star_rating , .span-clr span{
    color: var(--para-color);
    font-size: 16px;
}
.span-clr{
    margin-top: 7px;
    padding-bottom: 10px;
}
.span-clr button{
    background-color:#FFE7DB;
    border: 1px solid #FFE7DB;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: var(--button-color);
}
.strikeout{
    text-decoration: line-through;
    margin-right: 5px;
}
.btn_position{
    position: relative;
}
.book_btn{
    position: absolute;
    top: 38%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.arrow{
    text-align: center;
    margin-top: 40px;
}
.arrow span{
    font-size: 40px;
    padding: 8px;
}
.arrow_right{
    color: var(--button-color);
}
.arrow_left{
    color: var(--para-color);
}
/* -------- --------  Section 4 -------------------*/
.sec4_cards{
    font-family: "Poppins", sans-serif;
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sec4_cards img{
    height: 327px;
}
.card_flex_section4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.card_flex_section4 h3 , .card_flex_section4 p{
    font-size: 24px;
}
.card_flex_section4 p{
    color: var(--secondary-color);
    font-weight: 600;
}
.card_flex_section4 span{
    color: var(--para-color);
    font-size: 16px;
}
.icon{
    color: var(--secondary-color) !important;
}
.sec4_cards>div{
    background-color: #ffffff;
    box-shadow: 0 2px 10px 2px #00000024;
    border-radius: 8px;
}
.sec4_cards>div:hover{
    transform: translateY(-3px);
}
/* -------- --------  Section 5 -------------------*/
.section_5{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
}
.section_5 h2{
    font-family: "Volkhov", serif;
    font-size: 48px;
}
.section_5 p{
    font-size: 16px;
    color: var(--para-color);
    margin-top: 10px;
}
.arrow_right{
    text-align: left !important;
}
/* -------- --------  Section 6 -------------------*/
.sec_6{
    font-family: "Poppins", sans-serif;
    display: flex;
    margin-top: 55px;
    justify-content: space-between;
}
.sec_6 div:hover{
    transform: translateY(-3px);
}
.sec_6 img{
    height: 275px;
}
.sub_title{
    font-size: 18px;
    line-height: 26px;
    margin-top: 10px;
    padding: 0 10px;
}
.date{
    font-size: 16px;
    color: var(--para-color);
    margin-top: 10px;
    padding: 0 10px;
}
.sec_6 .right{
    margin-right: 35px;
}
/* -------- --------   contact -------------------*/
.contact_margin{
    padding: 0px 150px 50px;
    background-color: #FEFCFB;
}
.contact h2{
    text-align: center;
    font-family: "Volkhov", serif;
    font-size: 48px;
    color: #ffffff;
}
.contact_section{
    width: 80%;
    background-color: var(--button-color);
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    background-image: url(images/contact.png);
    background-size: cover;
    position: relative;
    top: 120px;
}
.contact_card{
    border: 1px solid #ffffff;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}
.email{
    border: none;
    line-height: 35px;
    margin-left: 15px;
}
.contact_icon{
    display: inline-flex;
    align-items: center;
}
.email:focus-visible{
    outline: 0 !important;
}

/* -------- --------   footer -------------------*/
.footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    margin-bottom: 50px;
}
.footer_grid_1{
    grid-column: 1/3;
}
.footer_grid_2{
    grid-column: 3/4;
}
.footer_grid_3{
    grid-column: 4/5;
}
.footer_grid_4{
    grid-column: 5/6;
}
.footer li{
    list-style-type: none;
    margin-top: 10px;
}
.footer li a{
    text-decoration: none;
    font-size: 18px;
    color: var(--para-color);
}
.footer h3{
    font-size: 18px;
}
.footer_grid_1 p{
    color: var(--para-color);
    font-size: 16px;
    margin-top: 15px;
}
.social_media{
    margin-top: 20px;
}
.social_media .fa-facebook-f{
    font-size: 15px;
    background-color: #ffffff;
    padding: 15px 19px;
    border-radius: 50%;
    margin-right: 10px;
}
.social_media .fa-instagram{
    font-size: 15px;
    padding: 15px 17px;
    color: #fff;
    background-color: var(--button-color);
    border-radius: 50%;
    margin-right: 10px;
}
.social_media .fa-twitter{
    font-size: 15px;
    background-color: #ffffff;
    padding: 15px 16px;
    border-radius: 50%;
}
.footer_flex{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.footer_flex p{
    color: var(--para-color);
    font-size: 16px;
}
.footer_padding{
    padding: 150px 150px 50px !important;
}

/* --------------- meadia queries -------------------*/
@media only screen and (max-width: 1024px) {
    .header , .sec_margin , .sec_thingsdo{
        padding: 30px 50px;
    }
    .section_1_card{
        margin: 70px 50px 0 50px;
    }
    .contact_margin{
        padding: 0px 50px 50px;
    }
    .sec_6 , .section_1{
        flex-wrap: wrap;
    }
    .footer_padding{
        padding: 150px 50px 50px !important;
    }
    .sec_6 img{
        height: 400px;
    }
    .sec_6>div , .sec3_cards>div , .sec4_cards>div{
        margin-top:40px;
    }
    .sec3_cards , .sec4_cards{
        justify-content: space-around;
    }
    .sec_1_img{
        margin: auto;
    }
}
@media only screen and (max-width: 768px) {
    .nav{
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }
    .sign_in{
        margin-top: 25px;
    }
    .section_1 h1{
        font-size: 40px;
    }
    .section_1_card{
        margin:60px 0px 0 0px;
    }
    .sec2_header h2, .sec3_header h2 ,.section_5 h2 , .contact h2{
        font-size: 38px;
    }
    .card-margin{
        margin-right: 20px;
    }
    .card_flex h3 ,.card_flex_section4 h3, .card_flex_section4 p{
        font-size: 20px;
    }
    .section_5{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section_5 .arrow{
        display: none;
    }
    .section_5 img{
        height: 250px;
        margin-top: 50px;
    }
    .sec_6{
        justify-content: space-around;
    }
}
@media screen and (max-width: 480px){
    .sec_1_img img{
        height: 250px;
    }
    .section_1_card{
        margin: 30px 0px 0 0px;
        display: block;
    }
    .section_1_card>div{
        margin-top: 25px;
        text-align: center;
    }
    .header, .sec_margin, .sec_thingsdo{
        padding: 20px 30px;  
    }
    .footer_padding {
        padding: 150px 30px 20px !important;
    }
    .nav , .header_list ,.sign_in .sign_up ,.sec2_header,.sec2_cards ,.contact_card ,.footer_flex ,.footer,.sec_6{
        text-align: center;
        display: block;
    }
    .section_1 .btn{
        width: 100%;
    }
    .header_list li ,.sign_in .sign_up{
        margin-right: 0;
        margin-top: 10px;
    }
    .sign_in .login{
        margin-right: 0;
    }
    .section_5 p{
        text-align: center;
    }
    .section_1 h1{
        font-size: 30px;
        text-align: center;
    }
    .section_1 p,.sec2_header p, .sec3_header p , .btn a ,.sub_title {
        font-size: 15px;
        text-align: center;
    }
    .sec2_header h2, .sec3_header h2, .section_5 h2, .contact h2 {
        font-size: 25px;
        text-align: center;
    }
    .sec2_cards h3 {
        font-size: 20px;
    }
    .sec2_header img {
        height: 130px;
        margin-left: 0px;
        margin-top: 20px;
    }
    .card-margin {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .sec_6 img {
        height: 305px;
    }
    .contact_section .button{
        font-size: 15px;
        margin-top: 20px;
    }
    .contact_section {
        width: 100%;
        padding: 30px;
    }
    .contact_card {
        margin-top: 30px;
    }
    .footer_grid_2 , .footer_grid_3 , .footer_grid_4{
        margin-top: 25px;
    }
    .footer_flex p {
        margin-bottom: 10px;
    }
    .sec_6 .right {
        margin-right: 0;
    }
    .sec4_cards img {
        height: 250px;
    }
}
@media only screen and (max-width: 376px) {
    .section_5 img {
        height: 228px;
        margin-top: 50px;
    }
}
@media screen and (max-width: 320px) {
    .sec_6 img {
        height: 268px;
    }
    .contact_icon {
        display: block;
    }
    .email {
        width: 80%;
    }
    .section_5 img {
        height: 180px;
        margin-top: 30px;
    }
    .sec_1_img img {
        height: 200px;
    }
}
